<ul class="nav nav-pills nav-stacked">
	<?php foreach($this->data as $year => $months): ?>
		<li<?php if($this->request()->getParam('year', false) == $year
					&& ! $this->request()->getParam('month', false)): ?> class="active"<?php endif; ?>><a class="years" href="<?php echo $this->url(array(
			'module' => 'admin',
			  	'controller' => 'news',
			  	'action' => 'index',
			  	'year' => $year
		), null, true); ?>"><?php echo $year ?></a></li>
		<?php if(is_array($months) && count($months)): ?>
			<?php foreach ($months as $num => $month): ?>
				<li<?php if($this->request()->getParam('year', false) == $year
							&& $this->request()->getParam('month', false) == $num): ?> class="active"<?php endif; ?> role="presentation">
				  <a href="<?php echo $this->url(array(
				  	'module' => 'admin',
				  	'controller' => 'news',
				  	'action' => 'index',
				  	'year' => $year,
				  	'month' => $num
				  ), null, true) ?>">
				  	<?php echo $month['lc_name']; ?> <span class="badge"><?php echo $month['count']; ?></span>
				  </a>
				</li>
			<?php endforeach; ?>
		<?php endif; ?>
	<?php endforeach; ?>
</ul>
<ul class="nav nav-pills nav-stacked"><li class="separator"><hr/></li></ul>
<ul class="nav nav-pills nav-stacked">
	<?php foreach($this->themes as $theme): ?>
		<li<?php if($this->request()->getParam('theme', false) == $theme->theme_id): ?> class="active"<?php endif; ?>>
			<a href="<?php echo $this->url(array(
				'module' => 'admin',
			  	'controller' => 'news',
			  	'action' => 'index',
			  	'theme' => $theme->theme_id
			), null, true); ?>"><?php echo $theme->theme_title ?> <span class="badge"><?php echo $theme->cnt; ?></a>
		</li>
	<?php endforeach; ?>
</ul>
<ul class="nav nav-pills nav-stacked"><li class="separator"><hr/></li></ul>