<ul class="nav nav-pills">
	<li role="presentation">
		<a href="#">Найдено новостей: <span class="badge"><?php echo $this->founded_items; ?></a>
	</li>
	<li role="presentation">
		<a href="<?php echo $this->url(array(
	        'module' => 'admin',
	        'controller' => 'news',
	        'action' => 'create'
	    ), null, true); ?>">Добавить</a>
	</li>
</ul>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Название</th>
			<th>Дата публикации</th>
			<th>Тема</th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($this->object_list as $object): ?>
		<tr>
			<td><?php echo $object->news_id ?></td>
			<td>
				<a href="<?php echo $this->url(array(
					'module' => 'admin',
					'controller' => 'news',
					'action' => 'update',
					'id' => $object->news_id
				)); ?>"><?php echo !empty($object->title) ? $object->title : 'No title :(' ?></a>
			</td>
			<td><?php echo $object->date ?></td>
			<td><?php echo $object->theme ?></td>
		</tr>
		<?php endforeach; ?>
	</tbody>
</table>
<?php echo $this->paginationControl($this->object_list, 'Sliding', 'partials/pagination.phtml'); ?>