<?php $this->placeholder('custom_js')->exchangeArray(array(
	'<script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>',
	'<script>$(function(){$("#date").datepicker({dateFormat:"yy-mm-dd"})});</script>'
)); ?>
<?php $this->placeholder('custom_css')->set(
	'<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">'
); ?>

<?php echo $this->createForm; ?>
<?php echo $this->deletionForm; ?>