<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>News admin</title>
    <?php
      $this->headLink()->prependStylesheet('/css/dashboard.css');
      $this->headLink()->prependStylesheet('/css/ie10-viewport-bug-workaround.css');
      $this->headLink()->prependStylesheet('/css/bootstrap.min.css');
    ?>
    <?php echo $this->headLink(); ?>
    <?php echo $this->placeholder('custom_css'); ?>
  </head>

  <body>
  	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<?php echo $this->url(array(), null, true); ?>">News</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="<?php echo $this->url(array(
            		'module' => 'admin',
            		'controller' => 'index'
            	), null, true); ?>">Dashboard</a></li>
            <li<?php if($this->request()->getParam('module') == 'admin'
                           && $this->request()->getParam('controller') == 'news'): 
                  ?> class="active"<?php endif; ?>><a href="<?php echo $this->url(array(
            		'module' => 'admin',
            		'controller' => 'news',
            		'action' => 'index'
            	), null, true); ?>">Zadanie1</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
    	<div class="row">
        <div class="col-sm-9 col-md-10 main">
          <?php echo $this->layout()->content; ?>
        </div>
    		<div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 sidebar">
          <?php echo $this->placeholder('sidebar'); ?>
        </div>
    	</div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <?php $this->headScript()->prependFile('/js/ie10-viewport-bug-workaround.js'); ?>
    <?php $this->headScript()->prependFile('/js/vendor/holder.min.js'); ?>
    <?php $this->headScript()->prependFile('/js/bootstrap.min.js'); ?>
    <?php $this->headScript()->prependScript('window.jQuery || document.write(\'<script src="/js/vendor/jquery.min.js"></script>\')') ?>
    <?php $this->headScript()->prependFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'); ?>
    <?php
      $this->headScript()->prependFile(
        'https://oss.maxcdn.com/respond/1.4.2/respond.min.js',
        'text/javascript',
        array('conditional' => 'lt IE 9')
      )->prependFile(
        'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js',
        'text/javascript',
        array('conditional' => 'lt IE 9')
      )
    ?>
    <?php echo $this->headScript(); ?>
    <?php echo $this->placeholder('custom_js'); ?>
  </body>
</html>